{{ include("common/ceping_header.html")}}

{{ include("common/ceping_nav.html")}}



    <link rel="stylesheet" href="{{_G['APP']}}/resource/static/css/label.css">



    <div class="inn-user-filter layui-form">
        <div class="filter-box clearfix layui-form-item">

            <div class="filter-content type" style="width:100%!important">
                <div class="list clearfix">
                    <a class="" >国外地区排行</a>
                    <a class="all-item type_one   {% if _GPC['area_id']=='no' %} on  {% endif %} " href="ranking-no-no-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">全部</a>

                    <a class="all-item type_one   {% if _GPC['area_id']==2 %} on  {% endif %}" href="ranking-abroad-2-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">韩国</a>

                    <a class="all-item type_one  {% if _GPC['area_id']==1 %} on  {% endif %}" href="ranking-abroad-1-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">美国</a>
                    <a class="type_one  {% if _GPC['area_id']==3%} on  {% endif %}" href="ranking-abroad-3-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">新加坡</a>
                    <a class="type_one  {% if _GPC['area_id']==4 %} on  {% endif %}" href="ranking-abroad-4-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">俄罗斯</a>
                    <a class="type_one  {% if _GPC['area_id']==5 %} on  {% endif %}" href="ranking-abroad-5-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">日本</a>
                </div>
            </div>
        </div>
        <div class="filter-box clearfix layui-form-item">

            <div class="filter-content role" style="width:100%!important">
                <div class="list clearfix open">
                    <a class="" >国内地区排行</a>
                    <!--<a class="role_one on " href="ranking-china-0-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">全部</a>-->
                    <a class=" all-item role_one {% if _GPC['area_id']==6 %} on  {% endif %}" href="ranking-china-6-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">香港</a>
                    <a class="role_one {% if _GPC['area_id']==7 %} on  {% endif %}" href="ranking-china-7-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">台湾</a>
                    <a class="role_one {% if _GPC['area_id']==8 %} on  {% endif %} " href="ranking-china-8-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">上海</a>
                    <a class="role_one {% if _GPC['area_id']==9 %} on  {% endif %}" href="ranking-china-9-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">北京</a>
                    <a class="role_one {% if _GPC['area_id']==10 %} on  {% endif %}" href="ranking-china-10-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">广州</a>
                    <a class="role_one {% if _GPC['area_id']==11 %} on  {% endif %}" href="ranking-china-11-{{_GPC['quota']}}-{{_GPC['product_type']}}.html">深圳</a>

                </div>
            </div>
            <!--<span class="filter-more roleMore">收起</span>-->
        </div>
        <div class="filter-box clearfix layui-form-item">

            <div class="filter-content type" style="width:100%!important">
                <div class="list clearfix">
                    <a class="" >购买指标排行</a>
                    <a class="type_one  {% if _GPC['quota'] =='no' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-no-{{_GPC['product_type']}}.html">全部</a>
                    <a class=" type_one {% if _GPC['quota'] =='time' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-time-{{_GPC['product_type']}}.html">评测时间</a>
                    <a class="type_one {% if _GPC['quota'] =='price' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-price-{{_GPC['product_type']}}.html">价格</a>
                    <a class="type_one {% if _GPC['quota'] =='responsetitime' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-responsetitime-{{_GPC['product_type']}}.html">响应速度</a>
                    <a class="type_one {% if _GPC['quota'] =='available' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-available-{{_GPC['product_type']}}.html">可用率</a>
                </div>
            </div>
        </div>
        <div class="filter-box clearfix layui-form-item">

            <div class="filter-content type" style="width:100%!important">
                <div class="list clearfix">
                    <a class="" >产品类别排行</a>
                    <a class="type_one  {% if _GPC['product_type'] =='no' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-{{_GPC['quota']}}-no.html">全部</a>

                    <a class="all-item type_one {% if _GPC['product_type'] =='cloud_server' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-{{_GPC['quota']}}-cloud_server.html">云服务器</a>
                    <a class="type_one  {% if _GPC['product_type'] =='vps_server' %} on  {% endif %}" href="ranking-{{_GPC['type']}}-{{_GPC['area_id']}}-{{_GPC['quota']}}-vps_server.html">VPS服务器</a>
                    <!--<a class="type_one " href="/2/0/0/0.html">虚拟主机</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space20 contentBot">
        <div class="layui-col-md8 index-list">
            <h2>最新评测</h2>
            <ul class="newsList">
                {% for data in list %}
                <li>
                    <a class="img" href="overview-{{data.id}}.html"><img src="{{_G['ATTACHMENT_ROOT']}}/{{data.cover}}"></a><div class="txt">
                    <a href="overview-{{data.id}}.html">{{data.title}}</a>
                    <div class="label">
                        {% if data.product_type=="cloud_server" %}
                        <span>云服务器</span>
                        {% else %}
                        <span class="violet">VPS服务器</span>
                        {% endif %}
                        {{data.name}} <b>2018-06-07</b> <i class="layui-icon layui-icon-news-review1"></i>{{data.comment_num}}</div>
                    <p class="cont">
                        {{ data.describes|e('html_attr') }}
                    </p>
                </div>
                </li>
                {% endfor %}

            </ul>


                <div style="text-align: center">
                    <!-- <div class="laypage-main"> -->
                    <div id="pages"></div>
                    <!-- </div> -->
                </div>


        </div>
        <div class="layui-col-md4 index-side">
            <div class="newsSide">
                <h2>热门测评</h2>
                <ul>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img10.jpg"></span><p class="txt">今日魔都烟雾缭绕，美似仙境！</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img11.jpg"></span><p class="txt">美计划调高对华商品征税税率 外交部：施压与讹诈不会起作用</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img12.jpg"></span><p class="txt">烟草纳税万亿！一包20元的烟利润 是多少钱？烟民：为了纳税而抽烟</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img13.jpg"></span><p class="txt">移动端游戏占领大部分市场</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img14.jpg"></span><p class="txt">八一建军节天安门升旗仪式</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img10.jpg"></span><p class="txt">今日魔都烟雾缭绕，美似仙境！</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img11.jpg"></span><p class="txt">美计划调高对华商品征税税率 外交 部：施压与讹诈不会起作用</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img12.jpg"></span><p class="txt">烟草纳税万亿！一包20元的烟利润 是多少钱？烟民：为了纳税而抽烟</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img13.jpg"></span><p class="txt">移动端游戏占领大部分市场</p></a></li>
                    <li><a href="javascript:;"><span><img src="{{_G['APP']}}/resource/static/img/home_img14.jpg"></span><p class="txt">八一建军节天安门升旗仪式</p></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="silde"><a id="refresh"><i class="layui-icon layui-icon-refresh"></i></a><a id="scroll"><i class="layui-icon layui-icon-up"></i></a></div>
</div>



<script>
    /**
     * 构造分页功能
     */
//    var status={{status}}
    var current_page="{{_GPC['current_page']}}";
    var page_size="{{_GPC['page_size']}}";
    var type="{{_GPC['type']}}";
    var area_id="{{_GPC['area_id']}}";
    var quota="{{_GPC['quota']}}";
    var product_type="{{_GPC['product_type']}}";

    layui.use('laypage', function(){
        var laypage = layui.laypage;
        //完整功能
        laypage.render({
            elem: 'pages',
            count: "{{pagination.total}}", //数据总数，从服务端得到
            last:'尾页',
            limit:"{{pagination.page_size}}",
            curr:"{{pagination.current_page}}",
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            jump: function(obj,first){
                // console.log(obj)
                // var url="{{ G.url('app/search/search',{'current_page':'currs','page_size':'limit','status':'statuss','orderBy':'orderByy','cid':'cidd'})}}";
                var url="ranking-types-area_ids-quotas-product_types-current_pages-page_sizes.html";

                /**
                 * 替换处理
                 * @type {string}
                 */
                url = url.replace("current_pages", obj.curr);
                url = url.replace("page_sizes", obj.limit);
                url = url.replace("types", type);
                url = url.replace("area_ids", area_id);
                url = url.replace("quotas", quota);
                url = url.replace("product_types", product_type);

                //首次不执行
                if(!first){
                    window.location.href=escapeUrl(url);//转义amp字符
                }
            }
        });

    });
</script>

{{ include("common/ceping_footer.html")}}