.fly-panel{margin-bottom: 35px; border-radius: 2px; background-color: #fff; box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);}
.fly-panel[pad20]{padding: 20px;}
.fly-panel-title{position: relative; height: 50px; line-height: 50px; padding: 0 15px; border-bottom: 1px dotted #E9E9E9; color: #333; border-radius: 2px 2px 0 0; font-size: 14px;}
.fly-panel-main{padding: 10px 15px;}
.fly-panel-border{border: 1px solid #e6e6e6; box-shadow: none;}
.fly-panel-border .fly-panel-title{border-bottom: 1px solid #e6e6e6;}

.fly-column{height: 0px; line-height: 0px;}
.fly-column ul li{position: relative; display: inline-block; height: 50px;}
.fly-column ul li a{padding: 0 20px;}
.fly-column ul li.layui-this:after{ position: absolute; bottom: 13px; left: 8px; z-index: 0; width: 50px; height: 22px; border: 1px solid #5FB878; border-radius: 2px;}
.fly-column ul li.layui-this a{color: #1f516abd;}
.fly-column ul li .fly-mid{margin: 0 20px;}
.fly-column-right{position: absolute; right: 0; top: 0;}
.fly-column-right .layui-btn{vertical-align: initial;}
.fly-column .layui-badge-dot{position: absolute; top: 50%; left: 50%; margin: -4px 0 0 20px;}


.fly-search{display: inline-block; vertical-align: top; width: 50px; height: 50px; margin-right: 10px; text-align: center; cursor: pointer; font-size: 20px;}
.fly-search .layui-icon{font-size: 20px;}
.fly-search:hover{color: #5FB878;}
.fly-layer-search input{height: 75px; line-height: 75px; width: 500px; padding: 0 15px; font-size: 20px; border: none 0; background: none;}
