
.inn-user-filter {
    padding: 20px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
}

    .inn-user-filter .filter-box {
        position: relative;
        margin-bottom: 10px;
    }

        .inn-user-filter .filter-box a, .inn-user-filter .filter-more, .inn-user-filter .filter-title {
            padding: 7px 15px;
            line-height: 1;
        }

    .inn-user-filter .filter-title {
        float: left;
    }

    .inn-user-filter .filter-content {
        position: relative;
        float: left;
        width: 880px;
        color: #555;
        border-bottom: 1px dotted #eee;
        padding-bottom: 10px;
    }

        .inn-user-filter .filter-content .list {
            overflow: hidden;
            height: 30px;
            width: 90%;
        }

            .inn-user-filter .filter-content .list.open {
                height: auto;
            }

            .inn-user-filter .filter-content .list a {
                margin-bottom: 5px;
            }

        .inn-user-filter .filter-content .sub-list {
            border: 1px solid #eee;
            background-color: #f7f7f7;
            padding: 10px 15px;
            margin-top: 5px;
            width: 90%;
        }

        .inn-user-filter .filter-content a {
            float: left;
            color: #555;
        }

            .inn-user-filter .filter-content a:hover {
                color: #2994f2;
            }

            .inn-user-filter .filter-content a.on {
                background-color: #1f516abd;
                color: #fff;
            }

        .inn-user-filter .filter-content .ui.selection.dropdown {
            min-width: 120px;
            padding: 7px;
            margin-left: 10px;
            margin-right: 15px;
            font-size: 12px;
        }

            .inn-user-filter .filter-content .ui.selection.dropdown .menu > .item {
                display: block;
                width: 100%;
                font-size: 12px;
            }

    .inn-user-filter .filter-more {
        position: absolute;
        top: 0;
        right: 0;
        color: #999;
        cursor: pointer;
    }

    .inn-user-filter .filter-content .sub-list {
        border: 1px solid #eee;
        background-color: #f7f7f7;
        padding: 10px 15px;
        margin-top: 5px;
        width: 90%;
    }

    .inn-user-filter .filter-box {
        position: relative;
        margin-bottom: 10px;
    }

        .inn-user-filter .filter-box a, .inn-user-filter .filter-more, .inn-user-filter .filter-title {
            padding: 7px 15px;
            line-height: 1;
        }

    .inn-user-filter .filter-content .sub-list {
        border: 1px solid #eee;
        background-color: #f7f7f7;
        padding: 10px 15px;
        margin-top: 5px;
        width: 90%;
    }

    .inn-user-filter .filter-box a, .inn-user-filter .filter-more, .inn-user-filter .filter-title {
        padding: 7px 15px;
        line-height: 1;
    }



    .inn-user-filter .filter-box a, .inn-user-filter .filter-more, .inn-user-filter .filter-title {
        padding: 7px 15px;
        line-height: 1;
    }

.clearfix:after, .fix:after, .inn-work .ui.form .field::after {
    clear: both;
}



.clearfix:after, .clearfix:before {
    display: table;
    content: "";
}
