<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}_云测评</title>
    <meta name="keywords" content="{{keywords}},云测评">
    <meta name="description" itemprop="description" content="{{description}}_万能查_关注有价值的商业信息">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{_G['APP']}}/resource/images/logox80.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{_G['APP']}}/resource/layui/css/layui.css">
    <link rel="stylesheet" href="{{_G['APP']}}/resource/static/css/index.css">
    <link rel="stylesheet" href="{{_G['APP']}}/resource/static/css/ceping.css">
    <script src="{{_G['APP']}}/resource/js/jquery-1.4.2.min.js"></script>
    <script src="{{_G['APP']}}/resource/layui/layui.js"></script>
    <!--<script src="{{_G['APP']}}/resource/layui/layui.all.js"></script>-->
    <link rel="stylesheet" href="{{_G['APP']}}/resource/css/global.css">
    <script src="{{_G['APP']}}/resource/js/calfbbs.js"></script>
    <!--<link href="{{_G['APP']}}/resource/css/reset.css" rel="stylesheet" type="text/css" />-->

    <!--<script src="{{_G['APP']}}/resource/js/jquery.min.js"></script>-->


    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!--<script>-->
    <!--(adsbygoogle = window.adsbygoogle || []).push({-->
    <!--google_ad_client: "ca-pub-9606766828005336",-->
    <!--enable_page_level_ads: true-->
    <!--});-->
    <!--</script>-->
</head>

<body>


