<link rel="stylesheet" href="{{_G['APP']}}/resource/static/css/global.css">
<div class="fly-panel fly-column">

    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/">最新
                <!--<span class="layui-badge-dot"></span>-->
            </a></li><li><a href="/course/hdxb">国内云服务器测评</a></li><li><a href="/course/jsjc">国外云服务器测评</a></li><li><a href="/course/redianzixun">热点资讯</a></li><li><a href="course/luanqibazao">国外VPS测评</a></li><li><a href="/course/zdgg">站点公告</a></li><li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li><li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/member/score/">在线充值</a></li><li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="member/code/home/favorite">优惠码</a></li></ul>
        <!--<div class="fly-column-right layui-hide-xs">-->
        <!--&lt;!&ndash;<span class="fly-search"><a href="/search/keyword-在这里输入相应的关键词"><i class="layui-icon"></i></a></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/member/qiandao/"><button class="layui-btn layui-btn-sm layui-bg-black signin">每日签到</button></a>&ndash;&gt;-->

        <!--</div>-->
    </div>
</div>